#
# Documentation is here: http://git-scm.com/docs/gitignore
#
downloads/
tmp/
unpack/
unzip/

#
# For vim temporary files
#
*.swp
.~lock.*
.*~
*~

#
# When we get code from github, we don't want to check it in
#
github*/
